@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .gallery-item {
    position: relative;
    overflow: hidden;
  }

  .gallery-item img {
    width: 100%;
    transition: transform 0.1s ease;
  }

  .gallery-item:hover img {
    transform: scale(0.2);
  }

  .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(142, 18, 18, 0.763);
    color: white;
    border: none;
    cursor: pointer;
  }
  .delete-btn:hover {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(207, 20, 20, 0.822);
    color: white;
    border: none;
    cursor: pointer;
  }



  /* General Button Styling */
  button {
    background-color: #007bff;
    color: white;
    margin: 4px;
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }

  button:active {
    background-color: #003d80;
    transform: scale(0.95);
  }

  button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
    transform: none;
  }
  .app-background{
 
      background-image: url('/public/imagebackground.jpg'); /* Replace with your image URL */
      background-size: cover; /* Make the background image cover the entire container */
      background-repeat: no-repeat; /* Prevent the background image from repeating */
      background-position: center; /* Center the background image */
      min-height: 100vh; 
    
  }
  @media (max-width: 600px) {
    button {
      background-color: #007bff;
      color: white;
      margin: 4px;
      border: none;
      border-radius: 6px;
      padding: 3px 10px;
      font-size: 11px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }

  }
  @media (max-width: 900px) {
    button {
      background-color: #007bff;
      color: white;
      margin: 4px;
      border: none;
      border-radius: 6px;
      padding: 3px 10px;
      font-size: 11px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }

  }
